<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExemploDAL_BLL_UI_LINQ.Properties.Settings.DBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>